 /* These are my own CSS tweaks, on top of Bootstrap */		  
 
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
    height: 100%;
}

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


.jumbotron {
	background-color: #ffffff;
	margin-bottom: -20px;
}
 
 
.navbar .nav > li > a {
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  black;
}
.navbar-header > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  black;
	font: bold;
}
 
 
 .text-schwarz {
	 color: black;
 }
 
 .navbar {
	 background-color: rgba(204, 0, 0, 0.8);
	 
 }
 
 .image-height-fixed {
	max-width: auto; 
	height: 120%;
	max-height: 100px;
	display:block;
	margin-top: -7px;
}
 
 .text-weiss {
	color: white;
}


 body {	
	padding-top: 70px;
 }	
 	 
 .slide {		 
 	text-align: center;
	min-height: 510px;
 	.center-block();
 }
 
 
 /*my own ID's */
 
#footermargin {
	 margin-top: 30px;
	 font-size: 10px;
	 color: #8b8080;
	 }

#DH {
	 font-family: Calibri, sans-serif;
	 color: red;
	 font-style: bold;
 }

/* How to get the footer to the bottom of the screen */
html, body {
        height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

.push {
	height: 30px;
}

h3 {
	position: relative;
	top: 30%;
	transform: translateY(-50%);
	background-color: rgba(255, 255, 255, 0.6);
	color: black;
}

#exercise {
	width: 300px;
	height: 200px;
	background-image: url("http://www.hamburg.de/contentblob/1041184/data/gutevorsaetze-sprache.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left:10px;
	margin-right:10px;
}

#dictionary {
	width: 300px;
	height: 200px;
	background-image: url("http://www.harmonyprinting.com/wp-content/uploads/2014/01/Blog_PagesSheets_BookPages-1024x680.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left:10px;
	margin-right:10px;
}

#forum {
	width: 300px;
	height: 200px;
	background-image: url("http://files.newsnetz.ch/story/1/3/2/13210185/4/topelement.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left:10px;
	margin-right:10px;
}

/*SEARCH Option*/

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #ff2500;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

#btn-toolbar {
	font-size: 23;
	color: #ff2500;
	
}
